<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.course.githubfavoriteuser">

    <uses-permission android:name="com.dicoding.academy.githubuser.provider.READ_DATABASE"/>
    <uses-permission-sdk-23 android:name="com.dicoding.academy.githubuser.provider.READ_DATABASE"/>
    <uses-permission android:name="com.dicoding.academy.githubuser.provider.WRITE_DATABASE"/>
    <uses-permission-sdk-23 android:name="com.dicoding.academy.githubuser.provider.WRITE_DATABASE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="com.dicoding.academy.githubuser"/>
    </queries>

    <application
        android:name=".FavoriteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUser">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>